{:wanderung/type :datahike
 :store {:backend :file
         :path "/tmp/dh"}
 ;; uncomment and adjust the following if the database does not exist
 ;; :schema-flexibility :write
 ;; :keep-history :true
 ;; :name "datahike-migration"
 }
